.field { 
   margin: 20px;
   position: relative;
   left: 100px;
}

.input {
   outline: none;
   border-radius: 6px;
   border:none;
   padding: 5px;
   height: 20px;
   width: 300px;
   background-color: aliceblue;
 }

 .select{
   padding: 5px;
   border-radius: 5px;
   color: aliceblue;
   background-color:#5b56e2;
   border:none;
}
